# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/

# Distribution/packaging
build/
develop-eggs/
eggs/
.eggs/
*.egg
*.egg-info/
dist/

# Environments
.venv
venv/

# Pycharm
.idea/



